main
	padding-top 30px
	display flex
	justify-content center
	
.slider
	overflow hidden
	position relative
	
	&__arrow
		@extend $link-reset
		position absolute
		top 38%
		z-index 10
		width 15px
		height 30px
		background-repeat no-repeat
		background-position 0 0
		background-size 100% 100%
		
		+above(768px)
			width 20px
			height 35px
		
		&_prev
			left 10px
			background-image url(../img/task2/arrow-prev.png)
		
		&_next
			right 10px
			background-image url(../img/task2/arrow-next.png)

.slider-wrap
	position relative
	left 0
	top 0
	height 100%

.slide
	position relative
	display block
	width 300px
	height 100%
	float left
	cursor pointer
	
	+above(768px)
		width 500px

.item
	position relative
	display flex
	flex-direction column
	align-items center
	
	&__sale
		position absolute
		top 10px
		right 10px
		z-index 5
		display flex
		justify-content center
		align-items center
		width 50px
		height 50px
		background-color #ff4a4a
		border-radius 50%
		
		& span
			font-size 12px
			font-weight 400
			text-transform uppercase
			color white
			
	&__img-wrap
		position relative
		width 100%
		height 300px
		margin-bottom 20px
		
		+above(768px)
			height 500px

	&__img
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		background-repeat no-repeat
		background-position center
		background-size cover

	&._1
		& .item__img
			background-image url(../img/task2/1.jpg)
			transition background-image .2s ease
			
		&:hover
			& .item__img
				background-image url(../img/task2/1-h.jpg)

	&._2
		& .item__img
			background-image url(../img/task2/2.jpg)

	&._3
		& .item__img
			background-image url(../img/task2/3.jpg)

	&._4
		& .item__img
			background-image url(../img/task2/4.jpg)

	&._5
		& .item__img
			background-image url(../img/task2/5.jpg)

	&._6
		& .item__img
			background-image url(../img/task2/6.jpg)

	&__title
		margin-bottom 8px
		font-size 18px
		font-weight 700
		line-height 1.35
		color black
		
		+above(768px)
			margin-bottom 12px
			font-size 20px

	&__price
		font-size 14px
		line-height 1.35
		color black
		
		+above(768px)
			font-size 16px
			
		&_old
			text-decoration line-through
			color #bdbdbd
