html
	height 100%
	background-color #f3f3f3
	
main
	padding 30px 0
	display flex
	justify-content center

.test
	position relative
	width 100%
	padding-top 20px
	padding-bottom 30px
	padding-left 15px
	padding-right 15px
	font-family Arial, sans-serif
	background-color white
	box-shadow 0 0 5px rgba(0, 0, 0, 0.4)
	
	+above(768px)
		max-width 650px
		padding-top 35px
		padding-bottom 30px
		padding-left 30px
		padding-right 30px
		border-radius 3px
		

	&__item, &__result
		display none
		position relative
		top 0
		left 0
		
		&.show
			display block
	
	&__row
		display flex
		justify-content center
	
	&__btn, &__btn-result
		display none
	
	&__btn, &__btn-result, &__start-btn
		@extend $btn-reset
		padding 15px 30px
		font-size 20px
		font-weight 600
		color white
		background-color #c89f6d
		border-radius 5px
		box-shadow 0px 2px 0 1px #c89f6d - 15%
		transition background-color .3s ease
		
		&:hover
			background-color #c89f6d - 15%
		
	&__number
		margin-bottom 15px
		font-size 14px
		font-weight 600
		text-align center
		color #c5ad84
		
		+above(768px)
			margin-bottom 30px
			font-size 16px
	
	&__quest
		padding-bottom 20px
		border-bottom 1px solid #cec6c6
		
		+above(768px)
			padding-bottom 30px
	
	&__quest-text
		font-size 20px
		font-weight 700
		
		+above(768px)
			font-size 24px
	
	&__quest-img
		margin-bottom 10px
		
		+above(768px)
			margin-bottom 20px
		
		img
			max-width 100%
		
	&__answers
		padding-bottom 45px
		
		+above(768px)
			padding-bottom 65px
	
	&__answer
		padding 20px
		border-bottom 1px solid #cec6c6
	
	&__input
		display none
	
	&__input + span
		display block
		position relative
		padding-left 35px
		font-size 18px
		line-height 1
		cursor pointer
		
		+above(768px)
			font-size 20px
	
	&__input[type="radio"] + span::before, &__input[type="checkbox"] + span::before
		content ''
		position absolute
		top 50%
		left 0
		width 20px
		height 20px
		background-color transparent
		border 1px solid #898b8b
		transform translateY(-50%)
		transition all .3s ease
	
	&__input[type="radio"] + span::before
		border-radius 50%

	&__input[type="checkbox"] + span::before
		border-radius 5px
	
	&__input:checked + span::before, &__input:checked:hover + span::before
		background-color #c5ad84
		border 2px solid #c5ad84
		box-shadow inset 0 0 0 2px white
	
	&__input:hover + span::before
		border 3px solid #c5ad84
	
	&__input:disabled:hover + span::before
		border 1px solid #898b8b
	
	&__input:checked:disabled:hover + span::before
		border 2px solid #c5ad84
	
	&__details
		display none
		margin-top 10px
		padding-left 35px
		font-size 14px
		
		+above(768px)
			margin-top 15px
			font-size 16px
	
	&__start
		position relative
		top 0
		left 0
		text-align center
		
		+above(768px)
			margin-bottom 45px
	
	&__start-wrap
		position relative
	
	&__start-subtitle
		margin-bottom 20px
		font-size 16px
		font-weight 600
		color #c5ad84
		
		+above(768px)
			margin-bottom 30px
			font-size 22px
	
	&__start-title
		margin-bottom 20px
		font-size 26px
		font-weight 700
		
		+above(768px)
			margin-bottom 30px
			font-size 38px
	
	&__start-text
		margin-bottom 30px
		font-size 18px
		text-align left
		line-height 1.4
		
		+above(768px)
			margin-bottom 60px
			font-size 24px
	
	&__result
		text-align center
		
		+above(768px)
			min-height 750px
	
	&__result-wrap
		position relative
		
		&::after
			content ''
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			width 100%
			background-color rgba(0, 0, 0, 0.3)
			
		img
			max-width 100%
		
	&__result-desc
		position absolute
		top 50%
		left 50%
		z-index 10
		width 100%
		color white
		transform translate(-50%, -50%)
	
	&__result-wrap
		margin-bottom 20px
		font-size 0
		
		+above(768px)
			margin-bottom 30px
	
	&__result-count
		margin-bottom 10px
		font-size 30px
		font-weight 700
		
		+above(768px)
			margin-bottom 20px
			font-size 45px
	
	&__result-variant
		font-size 20px
		font-weight 600
		
		+above(768px)
			font-size 30px
	
	&__result-text
		margin-bottom 30px
		font-size 18px
		text-align left
		line-height 1.3
		color black
		
		+above(768px)
			font-size 22px
			line-height 1.4
	
	&__restart
		@extend $link-reset
		position relative
		display inline-block
		margin-bottom 15px
		margin-left -35px
		padding-left 35px
		font-size 18px
		font-weight 600
		color #a68151
		
		+above(768px)
			font-size 20px
		
		&::before
			content ''
			position absolute
			top 50%
			left 0
			width 18px
			height 22px
			background-image url(../img/task3/reps.png)
			background-repeat no-repeat
			background-position 0 0
			background-size cover
			transform translateY(-50%)
			
			+above(768px)
				width 22px
				height 26px
		
._correct
	color #3d9e3d

._wrong
	color #ea0d1a
	
label._correct > .test__input:hover + span::before, label._wrong > .test__input:hover + span::before, 
label._correct > .test__input:checked:hover + span::before, label._wrong > .test__input:checked:hover + span::before
	border 0

label._correct > .test__input:checked:hover + span::before, label._wrong > .test__input:checked:hover + span::before
	background-color transparent
	box-shadow none

label._correct > .test__input + span::before
	content '\2714'
	position absolute
	top 50%
	left 0
	width 30px
	height 30px
	font-size 30px
	color #3d9e3d
	background-color transparent
	border 0
	transform translateY(-50%)
	transition none

label._wrong > .test__input + span::before
	content '\2718'
	position absolute
	top 50%
	left 0
	width 30px
	height 26px
	font-size 30px
	color #ea0d1a
	background-color transparent
	border 0
	transform translateY(-50%)
	transition none
	