@font-face {
    font-family: 'Lava';
    src: url('../fonts/LavaHeavy-Italic.eot');
    src: url('../fonts/LavaHeavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LavaHeavy-Italic.woff') format('woff'),
        url('../fonts/LavaHeavy-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/LavaMedium.eot');
    src: url('../fonts/LavaMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LavaMedium.woff') format('woff'),
        url('../fonts/LavaMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/LavaHeavy.eot');
    src: url('../fonts/LavaHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LavaHeavy.woff') format('woff'),
        url('../fonts/LavaHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/Lava-Italic.eot');
    src: url('../fonts/Lava-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lava-Italic.woff') format('woff'),
        url('../fonts/Lava-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/Lava-BoldItalic.eot');
    src: url('../fonts/Lava-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lava-BoldItalic.woff') format('woff'),
        url('../fonts/Lava-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/Lava-Bold.eot');
    src: url('../fonts/Lava-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lava-Bold.woff') format('woff'),
        url('../fonts/Lava-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/Lava.eot');
    src: url('../fonts/Lava.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lava.woff') format('woff'),
        url('../fonts/Lava.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lava';
    src: url('../fonts/LavaMedium-Italic.eot');
    src: url('../fonts/LavaMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LavaMedium-Italic.woff') format('woff'),
        url('../fonts/LavaMedium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'F Grotesk Demi CYR';
    src: url('../fonts/FGroteskDemiCYR-Regular.woff2') format('woff2'),
        url('../fonts/FGroteskDemiCYR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'F Grotesk Demi CYR';
    src: url('../fonts/FGroteskDemiCYR-Italic.woff2') format('woff2'),
        url('../fonts/FGroteskDemiCYR-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
