// ==========
// Font
// ==========
font_default = sans-serif
arial = Arial, font_default
helvetica = Helvetica, font_default
roboto = 'Roboto', font_default
body_font = roboto

// ==========
// Base Settings
// ==========
browser_fs = 16px // used for rem, em functions
html_bg = white
body_color = black
body_lh = 1.15

// ==========
// Project variables
// ==========

red_ribbon = #F01A2B
